extends base

block content
  .pallete
    .pallete-Container-
      .copied- copied to clipboard!!
      each colorPallete in moreColors
        .pallete-subContainer
          .container-main.inheritColor(style='background-color: #000;padding-bottom:9.4rem')
            .square(style=`background-color: ${colorPallete.colors[0]}`)
              span.child--=colorPallete.colors[0]
            .square(style=`background-color: ${colorPallete.colors[1]}`)
              span.child--=colorPallete.colors[1]
            .square(style=`background-color: ${colorPallete.colors[2]}`)
              span.child--=colorPallete.colors[2]
            .square(style=`background-color: ${colorPallete.colors[3]}`)
              span.child--=colorPallete.colors[3]
            .square(style=`background-color: ${colorPallete.colors[4]}`)
              span.child--=colorPallete.colors[4]
            .square(style=`background-color: ${colorPallete.colors[5]}`)
              span.child--=colorPallete.colors[5]
            .square(style=`background-color: ${colorPallete.colors[6]}`)
              span.child--=colorPallete.colors[6]
            .square(style=`background-color: ${colorPallete.colors[7]}`)
              span.child--=colorPallete.colors[7]
            .square(style=`background-color: ${colorPallete.colors[8]}`)
              span.child--=colorPallete.colors[8]
            .square(style=`background-color: ${colorPallete.colors[9]}`)
              span.child--=colorPallete.colors[9]
            .square(style=`background-color: ${colorPallete.colors[10]}`)
              span.child--=colorPallete.colors[10]
            .square(style=`background-color: ${colorPallete.colors[11]}`)
              span.child--=colorPallete.colors[11]
            .square(style=`background-color: ${colorPallete.colors[12]}`)
              span.child--=colorPallete.colors[12]
            .square(style=`background-color: ${colorPallete.colors[13]}`)
              span.child--=colorPallete.colors[13]
            .square(style=`background-color: ${colorPallete.colors[14]}`)
              span.child--=colorPallete.colors[14]
            .square(style=`background-color: ${colorPallete.colors[15]}`)
              span.child--=colorPallete.colors[15]
            .square(style=`background-color: ${colorPallete.colors[16]}`)
              span.child--=colorPallete.colors[16]
            .square(style=`background-color: ${colorPallete.colors[17]}`)
              span.child--=colorPallete.colors[17]
            .square(style=`background-color: ${colorPallete.colors[18]}`)
              span.child--=colorPallete.colors[18]
            .square(style=`background-color: ${colorPallete.colors[19]}`)
              span.child--=colorPallete.colors[19]
            .square(style=`background-color: ${colorPallete.colors[20]}`)
              span.child--=colorPallete.colors[20]
            .square(style=`background-color: ${colorPallete.colors[21]}`)
              span.child--=colorPallete.colors[21]
            .square(style=`background-color: ${colorPallete.colors[22]}`)
              span.child--=colorPallete.colors[22]
            .square(style=`background-color: ${colorPallete.colors[23]}`)
              span.child--=colorPallete.colors[23]
            .square(style=`background-color: ${colorPallete.colors[24]}`)
              span.child--=colorPallete.colors[24]
            .square(style=`background-color: ${colorPallete.colors[25]}`)
              span.child--=colorPallete.colors[25]
            .square(style=`background-color: ${colorPallete.colors[26]}`)
              span.child--=colorPallete.colors[26]
            .square(style=`background-color: ${colorPallete.colors[27]}`)
              span.child--=colorPallete.colors[27]
            .square(style=`background-color: ${colorPallete.colors[28]}`)
              span.child--=colorPallete.colors[28]
            .square(style=`background-color: ${colorPallete.colors[29]}`)
              span.child--=colorPallete.colors[29]
            .square(style=`background-color: ${colorPallete.colors[30]}`)
              span.child--=colorPallete.colors[30]
            .square(style=`background-color: ${colorPallete.colors[31]}`)
              span.child--=colorPallete.colors[31]
            .square(style=`background-color: ${colorPallete.colors[32]}`)
              span.child--=colorPallete.colors[32]
            .square(style=`background-color: ${colorPallete.colors[33]}`)
              span.child--=colorPallete.colors[33]
            .square(style=`background-color: ${colorPallete.colors[34]}`)
              span.child--=colorPallete.colors[34]
            .square(style=`background-color: ${colorPallete.colors[35]}`)
              span.child--=colorPallete.colors[35]
            .square(style=`background-color: ${colorPallete.colors[36]}`)
              span.child--=colorPallete.colors[36]
            .square(style=`background-color: ${colorPallete.colors[37]}`)
              span.child--=colorPallete.colors[37]
            .square(style=`background-color: ${colorPallete.colors[38]}`)
              span.child--=colorPallete.colors[38]
            .square(style=`background-color: ${colorPallete.colors[39]}`)
              span.child--=colorPallete.colors[39]
             
            